<%- include('../layout/header') %> <%- include('../layout/navibar') %>
<div class="col-sm-offset-4 col-sm-4">
  <form action="" id="form" method="POST" enctype="multipart/form-data">
    <label for="name">제품명</label>
    <input class="form-control" id="name" type="text" name="name" onchange="nameConfirm(this)" />
    <label for="price">단가</label>
    <input class="form-control" type="text" name="price" />
    <label for="cost">원가</label>
    <input class="form-control" type="text" name="cost" />
    <label for="quantity">기초수량</label>
    <input class="form-control" type="text" name="quantity" />
    <input class="btn btn-success submit" type="submit" value="등록하기" />
  </form>
</div>

<script>
  const nameConfirm = e => {
    axios({
      url: "/axios/product/find/one",
      method: "post",
      data: {
        name: e.value
      }
    })
      .then(data => {
        console.log(data);
        if (data.data) {
          alert(`동일한 제품명이 존재합니다!`);
          $("#name").val("");
        }
      })
      .catch(e => {
        console.error(e);
      });
  };

  $("#form").submit(() => {
    const length = $(".form-control").length;
    const nameList = [];
    for (i = 0; i < length; i++) {
      const name = $(".form-control")[i].name;
      if (name) nameList.push(name);
    }
    console.log(nameList);
    for (name of nameList) {
      const value = $(`input[name=${name}]`).val();
      const option = $(`select[name=${name}]`).val();
      if (!value && !option) {
        alert(`${name}의 값을 채워주세요!`);
        return false;
      }
    }
  });
</script>

<%- include('../layout/footer') %>
