<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/main" class="navbar-brand"><i class="fas fa-home"></i>홈화면</a>
    </div>
    <div class="collapse navbar-collapse" id="navi">
      <ul class="nav navbar-nav" style="padding-left : 10%;">
        <li>
          <a href="/customer/home"><i class="fas fa-users"></i> 고객관리</a>
        </li>
        <li class="navigation">
          <a style="cursor : pointer;"><i class="fas fa-table"></i>발주서/견적서</a>
          <div class="menu" style="display : none; text-align: center;">
            <table class="table table-borderless table-hover">
              <tr>
                <td onclick="location.href='/document/order'" style="cursor: pointer;">
                  발주서
                </td>
              </tr>
              <tr>
                <td onclick="location.href='/document/estimate'" style="cursor : pointer;">
                  견적서
                </td>
              </tr>
            </table>
          </div>
        </li>
        <li class="navigation" style="text-align: center;">
          <a style="cursor : pointer;"><i class="far fa-calendar-check"></i>일정</a>
          <div class="menu" style="display : none;">
            <table class="table table-borderless table-hover">
              <tr>
                <td onclick="location.href='/schedule/site'" style="cursor: pointer;">
                  현장일정
                </td>
              </tr>
              <td onclick="location.href='/schedule/calendar'" style="cursor : pointer;">
                스케쥴
              </td>
              </tr>
            </table>
          </div>
        </li>
        <li class="navigation" style="text-align: center;">
          <a href="/storage/home" style="cursor : pointer;"><i class="fas fa-th"></i>재고관리</a>
        </li>
      </ul>
      <ul class="nav navbar-right">
        <li>
          <a href="/accounts/logout"><i class="fas fa-power-off"></i> 로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(".navigation").mouseenter(function () {
    $(this)
      .children("div.menu")
      .stop()
      .slideDown("slow")
  });

  $(".navigation").mouseleave(function () {
    $(this)
      .children("div.menu")
      .stop()
      .slideUp("slow")
  });

</script>